* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    margin: 0px;
    font-family: sans-serif;
    position: relative;
    font-size: 100%;
    background: grey;
    font-family: "Inter", sans-serif;
}

section {
    user-select: none;
    font-size: 1.5rem;
    height: 100vh;
    position: relative;
    padding: 1rem;
    width: 100%;
    display: flex;
    align-items: flex-start;
    z-index: 1;
    div {
        padding: 1rem;
        h1 {
            font-size: 4rem;
            font-weight: 700;
        }
        width: 500px;
        background: rgba(150, 150, 150, 0.65);
        backdrop-filter: blur(10px);
    }
}

#model1 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
