.dg {
    z-index: 5 !important;
    position: fixed !important;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 100%;
    @media (max-width: 500px) {
        font-size: 40%;
    }
}
body {
    margin: 0px;
    font-family: sans-serif;
    position: relative;
    font-size: 100%;
    background: grey;
    background: url("noise2.gif");
    font-family: "Inter", sans-serif;
}

section {
    letter-spacing: -1px;
    font-size: 1rem;
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: white;
    user-select: none;
    .title {
        width: 100vw;
        color: white;
        font-weight: 900;
        text-align: center;
        font-size: 10vw;
        line-height: 1.1;
    }
    .text {
        padding: 1rem;
        h1 {
            font-size: 6rem;
        }
        h3 {
            text-decoration: underline;
            font-size: 2rem;
        }
        ul {
            list-style-image: url("bullet.gif");
            li {
                margin-left: 2rem;
                @media (max-width: 900px) {
                    margin-left: 4rem;
                }
            }
        }
        column-count: 2;
        font-size: 2rem;
        font-weight: bold;
        user-select: none;
        backdrop-filter: blur(4px);
        @media (max-width: 900px) {
            column-count: 1;
        }
        @media (max-width: 600px) {
            width: 100%;
        }
    }
}

#model1 {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}
